security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AppAuthenticator

            logout:
                path: app_logout

    role_hierarchy:
        ROLE_ADMIN: [ROLE_RECEPTIONIST, ROLE_CLIENT]
        ROLE_RECEPTIONIST: [ROLE_CLIENT]

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/logout, roles: PUBLIC_ACCESS }
        - { path: ^/room/\d+$, methods: [POST], roles: ROLE_ADMIN }
        - { path: ^/(room|reservation|customer), roles: [ROLE_ADMIN, ROLE_RECEPTIONIST] }
        - { path: ^/, roles: [ROLE_ADMIN, ROLE_RECEPTIONIST, ROLE_CLIENT] }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
