{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}" onsubmit="return confirm('{{ 'room.delete_confirm'|trans }}');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
        <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
    </form>
{% endif %}
